@import url('https://fonts.googleapis.com/css2?family=family=Roboto+Condensed&display=swap');


.skin-blue .main-header .logo {
          background-color: #252525;
}
        
.skin-blue .main-header .logo:hover {
          background-color: gray;
}
                              

.skin-blue .main-header .navbar {
          background-color: #0e11a7;
} 
                              
                   
.skin-blue .main-header .navbar .sidebar-toggle:hover{
         background-color: gray;
}
                              

.skin-blue .main-sidebar {
         background-color: #999999;
} 
                      
/* active sidebar menu item */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
        background-color: white;
        color:black;
}
                          
/* sidebar menuitems when mouse hover */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
        background-color: gray;
        color:white;
}
                              
.box.box-solid.box-primary>.box-header {
  background:#390ab9
}

.box.box-solid.box-primary{
  border-bottom-color:#390ab9;
  border-left-color:#390ab9;
  border-right-color:#390ab9;
  border-top-color:#390ab9;
}

p {
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

h1 {
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h1 {
    font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.ol.li {
    font-family: -apple-system, BlinkMacSystemFont, bold 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

